<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <h2 class="text-center margin-up">Reset Password</h2>
                    <form>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Enter email" [(ngModel)]="resetPassword.email" name="email">

                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Secret Question</mat-label>
                            <input matInput placeholder="Enter your first pet"
                                [(ngModel)]="resetPassword.secretQuestion" name="secretQuestion">
                        </mat-form-field>

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>New Password</mat-label>
                            <input matInput type="password" placeholder="Enter new password"
                                [(ngModel)]="resetPassword.newPassword" name="New Password">
                        </mat-form-field>

                        <div class="container text-center">
                            <button type="reset" mat-raised-button color="primary">Clear</button>
                            <button style="margin-left: 10px" mat-raised-button color="primary"
                                (click)="forgotPassword()">Reset Password</button>
                        </div>

                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>


<!-- <div class="container mt-5">
    <div class="card" style="padding: 20px;">
        // <form #forgotForm="ngForm" (ngSubmit)="forgotPassword(forgotForm)"> -->
<!-- <form>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Enter email" [(ngModel)]="resetPassword.email" name="email">
                
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Secret Question</mat-label>
                <input matInput placeholder="Enter your first pet" [(ngModel)]="resetPassword.secretQuestion"
                    name="secretQuestion">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>New Password</mat-label>
                <input matInput type="password" placeholder="Enter new password"
                    [(ngModel)]="resetPassword.newPassword" name="New Password">
            </mat-form-field>

            <div class="container text-center">
<button type="reset" mat-stroked-button color="primary">Clear</button>
            <button style="margin-left: 10px" mat-stroked-button color="primary" (click)="forgotPassword()">Reset Password</button>
            </div>

        </form>
    </div>
</div> --> -->